html, body {
    padding: 0;
    margin: 0;
    background-color: #cec6c6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0 5rem 0 5rem;
}

main {
    margin: auto;
    width: 78vw;
    height: 100vh;
    background-color: #4870f4;
}

section {
    padding: 3.5rem 0 3.5rem 6rem;
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
}

form {
    width: 100%;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #cec6c6;
    border-radius: 5px;
    box-shadow: 0 1px #cec6c6;
}

h1 {
    color: white;
    font-size: 80px;
}

.register {
    background-color: #4870f4;
    color: white;
    font-size: 15px;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: none;
}

.name {
    padding: 1rem;
    margin-bottom: 1rem;
}

.email {
    padding: 1rem;
    margin-bottom: 1rem;
}

.password {
    padding: 1rem;
    
    
}

.passwords {
    padding: 1rem;
    margin: 1rem 0;
}

.home {
    font-weight: bold;
    font-size: 23px;
    display: flex;
}

.re {
    border-bottom: 2px solid #4870f4;
}

.login {
    text-align: center;
    padding-bottom: 1rem;
}

.now{
    border: 0;
    background-color: white;
    padding: 0;
    color: #4870f4;
    box-shadow: none;
}

.checkbox {
    box-shadow: none;
}